spring:
  application:
    name: budgetControl

  datasource:
    url: jdbc:postgresql://localhost:5432/testdb
    password: password
    username: postgres

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        boot:
          allow_jdbc_metadata_access: false

  flyway:
    enabled: true
    baseline-on-migrate: true
